$pageWidth: 1920px;
$wrapperWidth: 1212px;

$menuBlue: #43abf0;
$blue: #3e9cdc;
$white: #fff;
$lightGrey: #c4c4c4;
$lightBlue: #42a9ed;
$black: #000000;
$grey: #6f6d7b;
$bgColor: #3d4050;
$color: #272733;
$borderColor: #286690;
$footerColor: #c3c3c3;
